{% extends "base.html" %}

{% block content %}
    <div id="page">
        <div class="title">Archive</div>
        <div class="content">
            {% for group in archive|groupby("year") %}
            <h2>{{ group.grouper }}</h2>
            <ol>
                {% for archive in group.list %}
                <li>
                    <a href="/archive/{{ archive.year }}/{{ archive.month }}/">{{ archive.month|number_to_month(True) }}</a>
                </li>
                {% endfor %}
            </ol>
            {% endfor %}
        </div>
    </div>
{% endblock %}