<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://cdn.staticfile.org/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="http://cdn.staticfile.org/fancybox/2.1.4/jquery.fancybox.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Dosis'>
    <link rel='stylesheet' href='/static/site.css'>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/archive">Archive</a></li>
            <!-- <li><a href="#">About</a></li> -->
        </ul>
        <p id="logo"><a href="/">MFA DIGEST</a></p>
    </nav>
    <div id="main">
        {% block content %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
</body>
</html>