{% extends "base.html" %}

{% block content %}
    <div id="page">
        <div class="title">{{ year }}</div>
        <div class="content">
            <h2>{{ month|number_to_month }}</h2>
            <ul>
                <li>
                    <a href="/archive/">..</a>
                </li>
                {% for post in posts %}
                <li>
                    <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}