{% for comment in comments %}
    {% for url, title in comment.images %}
        <li>
            {% if "/a/" in url %}
            <a class="album" href="{{ url|album }}">
                <span class="cover"></span>
            </a>
            {% else %}
            <a class="img" href="{{ url|thumbnail('l') }}">
                <img src="{{ url|thumbnail('l') }}" width="300">
                <span class="cover"></span>
            </a>
            {% endif %}
            <div class="detail">
                <div class="title">{% if "/a/" in url %}&lt;&lt;Album&gt;&gt;{% endif %}{{ title }}</div>
                <div class="source">
                    <a href="{{ comment.permalink }}" target="_blank">{{ comment.username }}</a>
                    + {{ comment.point }}
                </div>
            </div>
        </li>
    {% endfor %}
{% endfor %}